{% extends "layouts/base.html" %}
{% set project = "Creating Tasks is so Cool" %}
{% block body %}
<script>
    let score = 0
    class Trivia {
        constructor(question, answer, point) {
            this.question = question;
            this.answer = answer;
            this.point = point;
        }

        CheckAnswer(guess) {
            return guess === this.answer
        }
    }
    let question1 = new Trivia('Chile?', 'Santiago', 1);
    let question2 = new Trivia('France?', 'Paris', 1);
    let question3 = new Trivia('Czech Republic?', 'Prague', 1);
    let question4 = new Trivia('Portugal?', 'Lisbon', 1);
    let question5 = new Trivia('Ethiopia?', 'Addis Ababa', 1);


    const qarray = [question1, question2, question3, question4, question5]

    function test() {
        window.alert(qarray[1])
    }
    function QNA() {
        let questions = parseInt(document.getElementById('number').value);
        for (let i = 0; i < questions; i++) {
            const randomValue = qarray[Math.floor(Math.random() * qarray.length)];
            let guess = prompt("What is the capital of " + randomValue.question);
            if (randomValue.CheckAnswer(guess)) {
                score = score + 1;
                document.getElementById('answer').innerHTML = "Well Done";
                document.getElementById('score').innerHTML = "Your score is " + score;
            }
            else {
                document.getElementById('score').innerHTML = "Your score is " + score;

            }

            }
    }
</script>
{#    <button onclick="test()">LFG</button>#}
    <div class="container"></div>
    <label for="number">How many questions do you want?</label>
    <input id="number" type="number"/>
    <button onclick="QNA()">Submit</button>
    <p id="answer"></p>
    <p id="score"></p>

{% endblock %}
