<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Maps is so Cool" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <script>

    </script>

    <body style="background-color:powderblue; height: 1000px">
    <h1 id="mainheader"> Maps </h1>
    <style>
        h1{
            font-family: "Times New Roman";
            font-weight: bold;
            font-color:white;
            margin-right: 40px;
        }
    html,body{
        background: url("/static/maps.PNG");
        min-height: 130%;
        min-width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    </style>

    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d26762.24393255757!2d-117.13822899999998!3d33.02274!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1641454282715!5m2!1sen!2sus" width="1900" height="700" style="border:0;" allowfullscreen="" loading="eager"></iframe>
{% endblock %}



